/* Your styles here */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body { 
     font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}
.logo { 
    background-color: black;
text-align: center;
}

.logo>img {
    width: 40%;
    padding: 30px;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
header{ 
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-style: normal;
    background-image: url(../images/banner.jpg); 
    background-size: cover;
}

 header>h1 {  padding: 5%;
      font-size: 30px;
    color: #25a2c3;
    font-weight: 800;

 }
 header>p {padding: 5%;
    font-weight: 500;
    color: rgb(36, 35, 35);
 }
 button {padding: 2%;
     margin-bottom: 5%;
    margin-top: 5%;
     color: aliceblue;
     font-weight: 700;
     background-color: #e22d0e;
     border-radius: 5px;
     border-color: #e22d0e;
 }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 main {
    text-align: center;
    font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        line-height: 1.65;
 }
 .main>h2 {
    font-weight: 800;
   font-size: 18px;
    color: #25a2c3;
 }
 .img-radius>img { width: 100%;
    border-radius: 50%;
 }
 .main { padding: 5%;
    
}
.epicode-garantisce { padding-bottom: 5%;
      color: aliceblue;
 background-color: #e22d0e;
}
.epicode-garantisce>h1{ 
    line-height: 50px;
    padding: 5%;
    font-weight: 700;
    font-size: 30px;
}
.epicode-garantisce>h1+p { padding-bottom: 5%;
    line-height: 30px;
    font-style: italic;
}
.epicode-garantisce>h1+p+p { font-size: large;
    font-weight: 500;
}

.img >h3 { font-weight: 800;
    color: #25a2c3;

}
.img {
    margin: 5%;
    border: solid 1px #dee1e3 ;
}
.img > img { 
 width: 100%;
}
footer {
    line-height: 1.65;
    padding: 10%;
    font-weight: 500;
    text-align: center;
    background-color: #25a2c3;
    background-size: cover;
}

footer>h1 {font-size: 25px;
     padding-bottom: 5%;
    font-weight: 700;
    line-height: 20px;
    color:white ;

}
footer>a ,footer>i+p  {
    color: #c8e7f0;
}
footer>i , footer>p>i{
     padding: 1%;
    font-size: 12px;
    color: #c8e7f0;
}
.line {margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 8%;
    margin-top: 8%;
    border-top:  1px solid #c8e7f0;
}
footer>p , footer>p>a { color: #c8e7f0;
    font-size: 14px;
}
